@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}

a {
  text-decoration: none;
}

:root {
  background-color: #fff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.dark-mode {
  background-color: rgb(6, 25, 66);

  p {
    color: white;
  }

  h2 {
    color: white;
  }

  .MainPage-top {
    background-color: rgb(6, 25, 66);
    color: white;
  }

  .MainPage-block-countries-items {
    background-color: rgb(8, 32, 86);
  }

  input {
    color: white !important;
    background-color: rgb(8, 32, 86) !important;
  }

  .ant-select-selector {
    border: rgb(8, 32, 86) !important;
    color: white !important;
    background-color: rgb(8, 32, 86) !important;
  }
}

.MainPage-top {
  display: flex;
  background-color: white; // rgb(6, 25, 66)
  gap: 10px;
  color: black;
  padding: 15px 50px;
  font-family: 'Roboto', sans-serif;
  box-shadow: 0px 0px 51px 0px rgba(0, 0, 0, 0.1);

  h3 {
    cursor: pointer;
  }
}

.MainPage-block-navi {
  display: flex;
  margin: 40px 0;
  padding: 50px 150px;
  align-items: center;
  gap: 40px;
}

.MainPage-block-countries {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 50px;
}

.MainPage-block-countries-items {
  box-shadow: 0px 9px 23px 17px rgba(0, 0, 0, 0.1);
  width: 250px;
  height: 350px;

  div:nth-child(1) {
    width: 250px;
    height: 150px;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.MainPage-block-countries-info {
  font-family: 'Roboto', sans-serif;
  padding: 15px;

  h2 {
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 17px;
    padding: 10px 0 20px 0;
  }
}