@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}

a {
  text-decoration: none;
}

h3 {
  font-family: "DM Sans", sans-serif;
}

.dark-mode {
  background-color: #232529;
  height: 100%;
  padding-bottom: 54px;



  .Info-inner-data-text{
    p{
      color:white !important;
    }
  }
  .MainPage-top {
    background-color: #292c31;
    color: white;
  }

  .MainPage-block-countries-items {
    background-color: #292c31;

  }

  .MainPage-block-countries-info {

    p,
    h2 {
      color: white !important;
    }
  }

  input {
    color: white !important;
    background-color: #292c31 !important;
  }

  .ant-select-selector {
    border: #292c31 !important;
    color: white !important;
    background-color: #292c31 !important;
  }

  .Info-block {
    background-color: #232529;
    height: 76.7vh;

    &-inner-data {
      color: white;
        h2{
    color:white !important;
  }
    }
  }

  .Back {
    margin-top: -40px;
    color: white;
    background-color: #292c31;
    padding: 15px;
  }

  .border-country {
    color: white;
    background-color: #32353a;
    padding: 10px;
  }
}

.MainPage-top {
  display: flex;
  background-color: white; // rgb(6, 25, 66)
  gap: 10px;
  color: black;
  padding: 15px 50px;
  font-family: 'Roboto', sans-serif;
  box-shadow: 0px 0px 51px 0px rgba(0, 0, 0, 0.1);

  h3 {
    cursor: pointer;
  }
}

.MainPage-block-navi {
  display: flex;
  margin: 40px 0;
  padding: 50px 150px;
  align-items: center;
  gap: 40px;
}

.MainPage-block-countries {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 50px;
}

.MainPage-block-countries-items {
  box-shadow: 0px 9px 23px 17px rgba(0, 0, 0, 0.1);
  width: 250px;
  height: 350px;

  div:nth-child(1) {
    width: 250px;
    height: 150px;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.MainPage-block-countries-info {
  font-family: 'Roboto', sans-serif;
  padding: 15px;

  h2 {
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 17px;
    padding: 10px 0 20px 0;
    color: black;
  }

  p {
    color: black;
  }
}

span {
  font-family: 'Roboto', sans-serif;

}


.Info-block {
  display: flex;
  position: relative;
  padding: 150px 0 0 0;
  justify-content: center;
}

.Info-block-inner {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 60px;
}

a {
  text-decoration: none !important;
}

.Info-block-inner-flag {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: start;
  margin-top: -40px;
}

.Back {
  border: none;
  background: none;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: black;
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
}

.Info-block-inner-flag {
  img {
    width: 100%;
    height: 100%;
  }
}

.Info-block-inner-data {
  .Info-inner-data-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 150px;
    flex-wrap: wrap;
    align-items: start;
    margin: 15px 0;
    font-family: 'DM', sans-serif;
  }

  h2 {
    font-family: 'DM', sans-serif;
  }
}

.Info-inner-data-navi {
  strong {
    font-family: 'DM', sans-serif;
  }
}

.border-country {
  border: none;
  background: none;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: black;
  cursor: pointer;
  margin: 20px 20px 0px 0px;
  background-color: rgb(216, 216, 216);
  padding: 10px;
  outline: none;
  box-shadow: 0px 10px 55px -3px rgba(0, 0, 0, 0.1);
}

h2,
p {
  color: black;
}
